@model Unblock_Me.Models.Car

@{
    ViewData["Title"] = "Create";
}



<h1>Add a car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicencePlate" class="control-label"></label>
                <input asp-for="LicencePlate" class="form-control" />
                <span asp-validation-for="LicencePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maker" class="control-label"></label>
                <input asp-for="Maker" class="form-control" />
                <span asp-validation-for="Maker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colour" class="control-label"></label>
                <input asp-for="Colour" class="form-control" />
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockedLicencePlate" class="control-label"></label>
                <input asp-for="BlockedLicencePlate" class="form-control" />
                <span asp-validation-for="BlockedLicencePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockedByLicencePlate" class="control-label"></label>
                <input asp-for="BlockedByLicencePlate" class="form-control" />
                <span asp-validation-for="BlockedByLicencePlate" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to all cars</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
