
@{
}

<form asp-action="Search_for_I_blocked" asp-controller="Home">
    <div class="input-group">
        <label for="input1">
            Type who you blocked
        </label>
        <input id="input1" type="text" name="searchText2"> 
        <label for="input2">
            Type your license plate
        </label>                                              
        <input id="input2" type="text" name="searchText3">
        <div>
            <button type="submit">Search</button>
        </div>
    </div>
</form>