
@{
    ViewData["Title"] = "Home Page";
}

<style>

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
    }

    body {
        background-color: aqua;
    }

    .blocked {
        margin-top: 100px;
        margin-left: 500px;
        width: 200px;
        height: 100px;
    }

    #blocked2 {
        margin-top: 10px;
        margin-left: 500px;
        width: 200px;
        height: 200px;
    }

    .input-group {
        margin-top: 50px;
    }

    .input1 {
        width: 90%;
    }

    .i_blocked {
        background-color: red;
    }

    .i_unblocked {
        background-color: greenyellow;
    }
</style>



<div class="container">
    <form asp-action="Search" asp-controller="Home">
        <div class="row">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control border-secondary py-2" id="searchText" type="text" placeholder="Search who has blocked you" name="searchText">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            Search
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<form asp-action="I_blocked" asp-controller="Cars">
    <div class="blocked">
        <button type="submit" class="i_blocked">I blocked someone</button>
    </div>
</form>

<form asp-action="I_unblocked" asp-controller="Cars">
    <div id="blocked2">
        <button type="submit" class="i_unblocked">I unblocked someone</button>
    </div>
</form>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#searchText").autocomplete({
                source: function (request, response) {
                    jQuery.get("Search2", {
                        query: request.term
                    }, function (data) {
                        
                        response(data);
                    })
                }
            });
        });
    </script>
}
