@model Unblock_Me.Views.Home.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .blocked {
        margin-top: 100px;
        margin-left: 500px;
        width: 200px;
        height: 200px;
    }
    .input-group {
        margin-top: 50px;
    }
    .input1{
        width: 90%;
    }
    .i_blocked {
        background-color: yellow;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Search who blocked you</h1>

</div>


<form asp-action="Search" asp-controller="Home">
    <div class="input-group">
        <input class="input1" type="text" name="searchText">
        <div>
            <button type="submit">Search</button>
        </div>
    </div>
</form>

<div class="blocked">
    <button type="submit" class="i_blocked">I blocked someone</button>
</div>

