
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: aqua;
    }
    .blocked {
        margin-top: 100px;
        margin-left: 500px;
        width: 200px;
        height: 100px;
    }
    .blocked2 {
        margin-top: 10px;
        margin-left: 500px;
        width: 200px;
        height: 200px;
    }
    .input-group {
        margin-top: 50px;
    }
    .input1{
        width: 90%;
    }
    .i_blocked {
        background-color: red;
    }
    .i_unblocked {
        background-color: greenyellow;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Search who blocked you</h1>

</div>


<form asp-action="Search" asp-controller="Home">
    <div class="input-group">
        <input class="input1" type="text" name="searchText">
        <div>
            <button type="submit">Search</button>
        </div>
    </div>
</form>



<form asp-action="I_blocked" asp-controller="Cars">
    <div class="blocked">
        <button type="submit" class="i_blocked">I blocked someone</button>
    </div>
</form>

<form asp-action="I_unblocked" asp-controller="Cars">
    <div class="blocked2">
        <button type="submit" class="i_unblocked">I unblocked someone</button>
    </div>
</form>